<aside id="left"></aside>
<section id="right">
  <form [formGroup]="loginForm">
    <div class="loginbox">
        <mat-card>
          <mat-card-header class="mat-card-header"><h1>LOGIN</h1></mat-card-header>
          <mat-card-content class="mat-card-content">
            <div class="card flex justify-content-center">
                <input class="p-2" placeholder="Username" type="text" pInputText formControlName="username" name="username" />
            </div>
            <div
                *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)"
                class="block p-error"
                >
                <div *ngIf="loginForm.controls['username'].errors?.['required']">Username is required.</div>
            </div>
            <div class="card flex justify-content-center pt-3">
                <input class="p-2" placeholder="Password" type="password" pInputText formControlName="password" name="passsword" />
            </div>
            <div
                *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)"
                class="block p-error"
                >
                <div *ngIf="loginForm.controls['password'].errors?.['required']">Password is required.</div>
            </div>
            <div class="card flex justify-content-center pt-3">
                <a style="text-decoration: none;" href="#" class="text-blue-700">Forgot Password</a>
            </div>
            <div class="card flex justify-content-center pt-4">
              <button mat-raised-button color="primary" (click)="onLogin()">LOGIN</button>
            </div>
            <p style="text-align: center; color: red;" *ngIf="auth">WRONG USERNAME OR PASSWORD</p>
          </mat-card-content>
        </mat-card>
      </div>
  </form>
</section>
<div class="clearfix"></div>