<div class="footer">
    <div class="content">
      <div class="services">
        <h4>Services</h4>
        <p><a (click)="navigate('apipage')">Backend Integration</a></p>
      </div>
      <div class="social-media">
        <h4>Social</h4>
        <p>
          <a href="https://www.linkedin.com/in/ezhar-fahmi-md-zubir-ansori-187786165/"
            ><i class="fab fa-linkedin"></i> Linkedin</a
          >
        </p>
      </div>
      <div class="links">
        <h4>Quick links</h4>
        <p><a>Home</a></p>
        <p><a (click)="navigate('profilepage')">Profile</a></p>
      </div>
      <div class="details">
        <h4 class="address">Address</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur <br />
          adipisicing elit. Cupiditate, qui!
        </p>
      </div>
    </div>
    <footer>
      <hr />
      © 2023 Customer Journey.
    </footer>
  </div>